<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Recuperação de senha!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h2>
        Link para a recuperação da senha
    </h2>
    <p>
        <h3>Olá, <a th:text="${user.getName()}"></a>!</h3>
    </p>
    <p>
        Foi gerado um pedido para a recuperação da senha da sua conta e, por isso, você recebeu este e-mail!
    </p>
    <p>
        Clique no botão abaixo para ser redirecionado para a página de recuperação
    </p>
    <p>
        Caso você não reconheça esse pedido, por favor desconsiderar esta mensagem.
    </p>

    <a  th:href="${token}">
        Recuperar sua senha!
    </a>
    <br>
    <a>
        Não vê o botão? <a th:href="${token}">Clique aqui.</a>
    </a>
</body>
</html>