.authors {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey);
  margin-bottom: 20px;
  align-self: flex-start;
  max-width: 95%;
}

.html-content {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  text-align: justify;

  p,
  li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #525256;
    margin: 10px 0;
  }

  ul{
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: var(--dark-green);
  }

  img {
    max-width: 100%;
    height: auto;
  }

}
