.hamburguer{
    display: none;
    z-index:4;

    @media(max-width:720px){
        display: flex;
    }

    @media(max-height:425px){
        display:flex;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 200px;
    min-height: 100vh;
    right: -100%;
    top: 0;
    bottom: 0;
    position: fixed;
    background: var(--white);
    transition: 0.2s;
    z-index:3;

    a{
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content:center;

        &:first-of-type{
            margin-top: 100px;
        }

        &:not(:first-of-type){
            margin-top: 20px;
        }

        span{
            margin-left: 5px;
        }

    }

    button{
        margin-left: 30px;
        justify-self: flex-end;
        position: absolute;
        bottom: 100px;

        @media(max-height:425px){
            bottom: 50px;
        }
    }
}

.active{
    right: 0
}
    