.page-not-found-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  gap: 50px;

  .message {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;

    a {
      margin-top: 10px;
    }

    svg {
      width: 60%;
    }

    span {
      width: 80%;
    }
  }

  img {
    width: 50%;
  }

  @media (max-width: 900px) {
    img {
      display: none;
    }

    .message {
      width: 100%;

      svg {
        width: 80%;
      }

      h1{
        font-size: 24px;
      }

      span {
        width: 100%;
      }
    }
  }
}
