.trails-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    max-height: 80%;
    gap: 5%;

    @media(max-width:760px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:540px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

.topic-title{
    align-self:flex-start;
}

.empty-course-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    object-fit: cover;

    h2{
        color: var(--grey);
        z-index: 2;
    }

    svg{
        cursor: pointer;
        max-width: 80%;
        object-fit: cover;
        object-position: center;
        z-index: 2;
    }
}