.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  > svg:hover{
    cursor:pointer;
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 500px;

    a {
      text-decoration: none;
      color: var(--grey);
      font-size: 18px;
      line-height: 20px;
    }

    .login-btn {
      width: 100px;
      background: var(--green);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 10px;
      gap: 10px;
      color: var(--white);
    }

    @media (max-width: 720px) {
      justify-content: flex-end;

      >a,
      >.login-btn {
        display: none;
      }
    }

    @media (max-height: 425px){
      justify-content: flex-end;

      >a,
      >.login-btn {
        display: none;
      }
    }
  }
}
