.subject-flex-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.topic-header{
  display: flex;
  align-items: center;

  svg{
    display: none;
    cursor: pointer;
  }

  &:hover{
    svg{
      display: block;
    }
  }
}