.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: var(--dark-green);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: var(--green);

    * {
      color: var(--green);
    }
  }
}

#post-form-container{
  width: 90%;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;

    input {
      width: 100%;
      max-width: 100%;
    }

    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      color: var(--grey);
      margin-bottom: 23px;
    }

    .obs{
      font-weight: 400;
      font-size: 14px;
      align-self: flex-end;
    }

    .radio-selection {
      justify-content: space-around;
      width: 100%;
      margin-bottom: 23px;
      input,
      span {
        font-weight: 400;
        margin: 0;
      }
    }

    .alternatives-radio-selection{
      width: 100%;

      .radio-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;

        *{
          margin:0;
        }
      }
    }

    .custom-input{
      width: 100%;
      max-width: 100%;
      display: flex;
     justify-content: center;
      * {
        outline: none;
        border: none;
      }
    }

    .add-question{
      background: transparent;
      color: var(--dark-purple);
      width: 210px;
      height: 50px;
      align-self: center;
    }

    .buttons-container{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      margin-bottom: 50px;

      button{
        height: 50px;
      }

      @media(max-width: 800px){
        button{
          width: 100%;
        }
      }
    }

    .dropzone-container {
      width: 100%;
      max-width: 100%;

      label, .dropzone-preview {
        width: 100%;
      }
    }

    .editor{
      margin-bottom: 23px;
    }
  }
}

.tox-notifications-container{
  display: none;
}
