.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey);

  svg {
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}
