.question-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 40px;

  .alternatives{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 20px;
    max-width: 95%;

    .alternative{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:5px;

      label{
        color: var(--grey);
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
      }

      input{
        width: 20px;
        height: 20px;
        margin: 0;
      }
    }
  }
}