.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: var(--green);
  border-radius: 50%;
  font-size: 64px;
  color: var(--white);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.del-btn{
  background: var(--red);
  align-items: center;
  justify-content: space-around;

  &:hover{
    background: var(--dark-red);
  }

  svg{
    position: static;
  }
}

.bottom{
  margin-top: 10px;
  max-width: 90%;

  svg{
    margin-right: 5px;
  }
}

.change-password{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;

  span:first-of-type{
    color: var(--grey);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  span:not(:first-of-type){
    align-self: flex-start;
  }

  label{
    color: var(--grey);
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input{
    height: 40px;
  }
}