.trail-container {
  display: flex;
  flex-direction: column;
  height: 210px;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 130px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .card-line {
    width: 100% calc(100% -2px);
    border: 1px solid var(--grey);
  }

  .trail-bottom {
    display: flex;
    flex-direction: column;
    background: var(--white);
    height: 80px;
    padding: 10px;

    .title-and-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 20px;
        margin: 0;
      }

      .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 52px;
      }
    }

    span {
      font-size: 12px;
      line-height: 20px;
      color: var(--grey);
    }

    .progress-bar{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 2px;
      border: 1px solid var(--background);
      background: var(--background);

      .current-progress{
        position: absolute;
        width: 150px;
        border: 1px solid var(--green);
      }
    }

    .progress-label{
      align-self: center;
      justify-self: center;
    }
  }
}
