* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: "Roboto", sans-serif;

  button, .link-btn {
    background: var(--green);
    border-radius: 10px;
    outline: none;
    border: 0;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    color: var(--white);
    max-width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: var(--dark-green);
    }
  }

  .link-btn{
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    color: var(--dark-purple);
    font-weight: 700;
    margin: 10px;
    max-width: 500px;
  }

  h1 {
    font-size: 34px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    list-style: 30px;
  }

  input,
  select {
    height: 50px;
    width: 370px;
    max-width: 90%;
    outline: none;
    border: 0;
    margin-bottom: 25px;
    border-radius: 10px;
    background: var(--white);
    padding: 10px;

    color: var(--grey);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 25px;
  }

  select {
    width: 370px;
    height: 50px;
  }

  .text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey);
    margin: 5px;
  }

  .error {
    color: var(--red);
    margin-top: -20px;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 350px;
    max-width: 90%;
    font-size: 12px;
  }

  .custom-placeholder{
    border: 2px dashed var(--grey);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 36px;
    padding-top: 20px;

    max-width: 100vw;

    @media (max-width: 500px) {
      padding: 10px;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    button {
      width: 120px;

      &:first-of-type {
        background: var(--red);

        &:hover {
          background: var(--dark-red);
          cursor: pointer;
        }
      }
    }

    @media (max-width: 330px) {
      flex-direction: column-reverse;

      button {
        width: 100%;
        margin-bottom: 10px;
        align-self: center;
      }
    }
  }
}

:root {
  --grey: #525256;
  --light-grey: #c4c4c4;
  --green: #3beaa8;
  --purple: #5e5483;
  --dark-purple: #322153;
  --background: #f0f0f0;
  --dark-green: #2fbb86;
  --white: #ffffff;
  --red: #eb5a50;
  --dark-red: #dd3126;
  --white: #fff;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
