.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: var(--dark-green);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: var(--green);

    * {
      color: var(--green);
    }
  }
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  height: 90vh;
  max-height: 90vh;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-height: 500px;
    width: 90%;

    .buttons-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1200px;
      justify-content: space-between;

      button {
        width: 370px;
        max-width: 90%;

        &:first-of-type {
          background: var(--red);

          &:hover {
            background: var(--dark-red);
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    form {
      .buttons-container {
        flex-direction: column;
        align-items: center;
        justify-content:center;

        button:first-of-type{
          margin-bottom: 20px;
        }
      }
    }
  }
}
