.register-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  height: 85vh;
  max-height: 85vh;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 60px 60px 30px 60px;

    h2 {
      align-self: flex-start;
    }

    .input-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;

        label {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: var(--grey);
          margin-bottom: 5px;
          align-self: flex-start;
          margin-left: 10px;
        }

        input {
          background: var(--background);
        }
      }
    }

    .buttons-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      
      button {
        width: 353px;
        max-width: 100%;
        height: 50px;

        &:first-of-type {
          background: var(--red);
          transition: 0.2s;

          &:hover {
            background: var(--dark-red);
          }
        }
      }
    }

    @media(max-width:930px){
      margin-top: 150px;
      width: 100%;
      padding: 0;
      background: transparent;
      align-items: center;

      h1{
        margin-bottom: 40px;
      }

      h2{
        display: none;
      }

      .input-container{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;

        .input-group{
          input{
            background: var(--white);
          }
        }
      }

      .buttons-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button{
          max-width: 90%;
          
          &:last-of-type{
            margin-top: 10px;
          }
        }
        
      }
    }

    @media(max-width:728px){
      h1{
        margin-top:150px;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}


.left-side-floating-logo{
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 45%;
  transition: 0.2s;

  &:hover{
    cursor: pointer;
  }
}